{% extends "layout.html.twig" %}

{% block title %}Error!{% endblock %}

{% block content %}
<div class="row" id="errorPanel">
    <div class="col-xs-5">
        <img class="img-responsive pull-right" src="{{ asset('/images/icon_livre.png') }}" alt="Livre erreur"/>
    </div>
    <div class="col-xs-6">
        <h2><br>{{ message }}</h2>
    </div>
</div>
{% endblock %}
