{% extends "layout.html.twig" %}

{% block title %}Error!{% endblock %}

{% block content %}

    <div class="row text-center" style ="margin:100px 0 100px 0">
        <div class="col-lg-12 ">
            <img class="img-responsive" src="{{ asset('/images/icon_livre.png') }}" alt="Livre erreur" style ="margin-right:auto;margin-left:auto"/>
        </div>
        <div class=" col-lg-12">
            <h2>
                <h2><br>{{ message }}</h2>
            </h2>
        </div>
    </div>
{% endblock %}
