{% extends "layout.html.twig" %}

{% block title %}Mentions légales{% endblock %}

{% block content %}

<div class="mentions-notices row">
    <div class="col-md-offset-2 col-md-8 col-md-offset-2">

    <h2>Mentions légales</h2>
        Conformément aux dispositions des articles 6-III et 19 de la Loi n°2004-575 du 21 juin 2004 pour la Confiance dans l'économie numérique, dite L.C.E.N., nous portons à la connaissance des utilisateurs et visiteurs du site: <a href="http://billet-simple-alaska.parlow-co.fr">billet-simple-alaska.parlow-co.fr</a> les informations suivantes :

    <h2>Coordonnées</h2>
        <span class="alaligne">Jean Forteroche</span>
        <span class="alaligne">Rue Molière - 49408 Saumur</span>
        <span class="alaligne">02-41-83-30-00</span>

    <h2>Rédaction</h2>
        <strong>Directeur de la publication</strong> :  Jean Forteroche<br>
        <strong>Rédacteur en chef</strong> :  Jean Forteroche<br>
        <strong>Webmaster</strong> : Mickaël Parlow

    <h2>Droits d'auteurs</h2>
        L'ensemble de ce site relève de la législation française et internationale sur le droit d'auteur et la propriété intellectuelle. Toute copie, reproduction, représentation, adaptation, diffusion, intégrale ou partielle, du contenu du site de Jean Forteroche, par quelque procédé que ce soit, est illicite à l'exception d'une unique copie réservée à l'usage exclusivement privé du copiste.

        Les informations contenues dans ce site sont présentes à titre purement informatif et sont non contractuelles. Jean Forteroche ne saurait être tenue responsable pour toute erreur ou omission dans les textes et illustrations du site. Les informations peuvent faire l'objet de modifications sans préavis.

    <h2>Données personnelles</h2>
        Vous disposez d’un droit d’accès, de rectification, et d’opposition à vos données. Pour cela il vous suffit de nous en faire la demande.
        Pour les demandes d'actes en ligne, ce site est déclaré à la CNIL sous le numéro xxxxxx. Plus d’informations sur le site de la CNIL.

    <h2>Crédits photographiques</h2>
        Les photographies présentées sur ce site sont protégées par le Code de la propriété intellectuelle et artistique.
        Toute utilisation est interdite sans accord préalable du ou des titulaires des droits d’auteur. Jean Forteroche se réserve le droit d’engager des poursuites pour toute utilisation frauduleuse de ces images.

    <h2>Réalisation du site</h2>
        Mickaël Parlow<br>
        mickael@parlow-co.com

    <h2>Hébergement</h2>
        <ul class="list-none">
            <li>1&amp;1 Internet SARL, 7 place de la Gare– BP70109 - 57201 Sarreguemines Cedex</li>
            <li>Téléphone : 0970 808 911 (appel non surtaxé)</li>
            <li>Site Internet : www.1and1.fr</li>
        </ul>

    <h2>Crédits</h2>
        <a href="http://creativecommons.org/licenses/by-sa/3.0/deed.fr">Contenu soumis à la licence CC-BY-SA</a><br>
        Source : Article <em><a href="http://fr.wikipedia.org/wiki/Alaska">Alaska</a></em> de
        <a href="http://fr.wikipedia.org/">Wikipédia en français</a>
        <a href="http://fr.wikipedia.org/w/index.php?title=Alaska&action=history">(auteurs)</a>

    </div>
</div>

{% endblock %}