<p>{{ name }}, </p>

<p>voici votre nouveau mot de passe :</p>

<p style="margin-left:50px">

<table>
    <tr>
        <th style="border-bottom:1px solid black"><strong>Pseudo</strong></th>
        <th style="border-bottom:1px solid black;margin-left:20px"><strong>Mot de passe</strong></th>
    </tr>
    <tr>
        <td style="text-align: center">{{ name }}</td>
        <td style="text-align: center;margin-left:20px">{{ password }}</td>
    </tr>
</table>

</p>

<p>Vous pourrez vous connecter sur <a href="billet-simple-alaska.parlow-co.fr">Billet simple pour l'Alaska</a> avec votre pseudo et ce nouveau mot de passe.</p>

<p>N'hésitez pas, une fois connecté, à le changer afin d'avoir un mot de passe personnalisé et plus facile à retenir.</p>

<p>Nous vous souhaitons une très bonne lecture sur notre blog !</p>

<p>--  L'équipe de Billet simple pour l'Alaska  --</p>
